includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 8

    ignoreErrors:
        - '#PHPDoc tag @mixin contains unknown class App\\Models\\[a-zA-Z\\_]#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
